In [1]:
import pandas as pd
import datetime as dt
import os
import dash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output
import plotly.graph_objects as go

In [2]:
cc = pd.read_csv('C:\\Users\\MirekR\\Documents\\Python\\kodilla\\db\\country_codes.csv')
customers = pd.read_csv('C:\\Users\\MirekR\\Documents\\Python\\kodilla\\db\\customers.csv')
prod_info = pd.read_csv('C:\\Users\\MirekR\\Documents\\Python\\kodilla\\db\\prod_cat_info.csv')
src = 'C:\\Users\\MirekR\\Documents\\Python\\kodilla\\db\\transactions'

In [3]:
cc.rename(columns={ 'Unnamed: 0':'country_code'},inplace=True)
cc.reset_index()
cc.set_index('country_code',inplace=True)
transactions = pd.DataFrame()
for filename in os.listdir(src):
    transactions = transactions.append(pd.read_csv(os.path.join(src,filename),index_col=0))
def convert_dates(x):
    try:
        return dt.datetime.strptime(x,'%d-%m-%Y')
    except:
        return dt.datetime.strptime(x,'%d/%m/%Y')
    return transactions
transactions['tran_date'] = transactions['tran_date'].apply(lambda x: convert_dates(x))
df = transactions.join(prod_info.drop_duplicates(subset=['prod_cat_code']).set_index('prod_cat_code')['prod_cat'],on='prod_cat_code',how='left')
df = df.join(prod_info.drop_duplicates(subset=['prod_sub_cat_code']).set_index('prod_sub_cat_code')['prod_subcat'],on='prod_subcat_code',how='left')
df = df.join(customers.join(cc,on='country_code').set_index('customer_Id'),on='cust_id')
df['day']=df['tran_date'].dt.day_name()

C:\Users\MirekR\AppData\Local\Temp\ipykernel_15080\2438258240.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.read_csv(os.path.join(src,filename),index_col=0))
C:\Users\MirekR\AppData\Local\Temp\ipykernel_15080\2438258240.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.read_csv(os.path.join(src,filename),index_col=0))
C:\Users\MirekR\AppData\Local\Temp\ipykernel_15080\2438258240.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.read_csv(os.path.join(src,filename),index_col=0))
C:\Users\MirekR\AppData\Local\Temp\ipykernel_15080\2438258240.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.read_csv(os.path.join(src,filename),index_col=0))

In [4]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app = dash.Dash(__name__, external_stylesheets=external_stylesheets)
app.layout = html.Div([html.Div([dcc.Tabs(id='tabs',value='tab-1',children=[
                            dcc.Tab(label='Sprzeda globalna',value='tab-1'),
                            dcc.Tab(label='Produkty',value='tab-2'),
                            dcc.Tab(label='Kanay sprzeday',value='tab-3')
                            ]),
                            html.Div(id='tabs-content')
                    ],style={'width':'80%','margin':'auto'})],
                    style={'height':'100%'})
@app.callback(Output('tabs-content','children'),[Input('tabs','value')])
def render_content(tab):

    if tab == 'tab-1':
        return tab1_render_tab(df)
    if tab == 'tab-2':
        return tab2_render_tab(df)
    elif tab == 'tab-3':
        return tab3_render_tab(df)
    
## tab1 callbacks
@app.callback(Output('bar-sales','figure'),
    [Input('sales-range','start_date'),Input('sales-range','end_date')])
def tab1_bar_sales(start_date,end_date):

    truncated = df[(df['tran_date']>=start_date)&(df['tran_date']<=end_date)]
    grouped = truncated[truncated['total_amt']>0].groupby([pd.Grouper(key='tran_date',freq='M'),'Store_type'])['total_amt'].sum().round(2).unstack()

    traces = []
    for col in grouped.columns:
        traces.append(go.Bar(x=grouped.index,y=grouped[col],name=col,hoverinfo='text',
        hovertext=[f'{y/1e3:.2f}k' for y in grouped[col].values]))

    data = traces
    fig = go.Figure(data=data,layout=go.Layout(title='Przychody',barmode='stack',legend=dict(x=0,y=-0.5)))

    return fig
@app.callback(Output('choropleth-sales','figure'),
            [Input('sales-range','start_date'),Input('sales-range','end_date')])
def tab1_choropleth_sales(start_date,end_date):

    truncated = df[(df['tran_date']>=start_date)&(df['tran_date']<=end_date)]
    grouped = truncated[truncated['total_amt']>0].groupby('country')['total_amt'].sum().round(2)

    trace0 = go.Choropleth(colorscale='Viridis',reversescale=True,
                            locations=grouped.index,locationmode='country names',
                            z = grouped.values, colorbar=dict(title='Sales'))
    data = [trace0]
    fig = go.Figure(data=data,layout=go.Layout(title='Mapa',geo=dict(showframe=False,projection={'type':'natural earth'})))

    return fig
## tab2 callbacks
@app.callback(Output('barh-prod-subcat','figure'),
            [Input('prod_dropdown','value')])
def tab2_barh_prod_subcat(chosen_cat):

    grouped = df[(df['total_amt']>0)&(df['prod_cat']==chosen_cat)].pivot_table(index='prod_subcat',columns='Gender',values='total_amt',aggfunc='sum').assign(_sum=lambda x: x['F']+x['M']).sort_values(by='_sum').round(2)

    traces = []
    for col in ['F','M']:
        traces.append(go.Bar(x=grouped[col],y=grouped.index,orientation='h',name=col))

    data = traces
    fig = go.Figure(data=data,layout=go.Layout(barmode='stack',margin={'t':20,}))
    return fig

## tab3 callbacks
@app.callback(Output('barh-Store_type','figure'),
            [Input('store_dropdown','value')])
def tab3_barh_Store_type(chosen_value):

    grouped = df[(df['total_amt']>0)&(df['day']==chosen_value)].pivot_table(index='Store_type',columns='Gender',values='total_amt',aggfunc='sum').assign(_sum=lambda x: x['F']+x['M']).sort_values(by='_sum').round(2)
    #grouped = df[(df['total_amt']>0)&(df['Store_type']==chosen_value)].pivot_table(index='Store_type',columns='day',values='total_amt',aggfunc='sum').assign(_sum=lambda x: x['M']+x['T']+x['W']+x['Th']+x['F']+x['Sa']+x['Su']).sort_values(by='_sum').round(2)
    traces = []
    #for col in ['M','T','W','Th','F','Sa','Su']:                                         
    for col in ['F','M']:
        traces.append(go.Bar(x=grouped[col],y=grouped.index,orientation='h',name=col))
    data = traces
    fig = go.Figure(data=data,layout=go.Layout(barmode='stack',margin={'t':20,}))
    return fig
def tab1_render_tab(df):

    layout = html.Div([html.H1('Sprzeda globalna',style={'text-align':'center'}),
                        html.Div([dcc.DatePickerRange(id='sales-range',
                        start_date=df['tran_date'].min(),
                        end_date=df['tran_date'].max(),
                        display_format='YYYY-MM-DD')],style={'width':'100%','text-align':'center'}),
                        html.Div([html.Div([dcc.Graph(id='bar-sales')],style={'width':'50%'}),
                        html.Div([dcc.Graph(id='choropleth-sales')],style={'width':'50%'})],style={'display':'flex'})
                        ])

    return layout
def tab2_render_tab(df):

    grouped = df[df['total_amt']>0].groupby('prod_cat')['total_amt'].sum()
    fig = go.Figure(data=[go.Pie(labels=grouped.index,values=grouped.values)],layout=go.Layout(title='Udzia grup produktw w sprzeday'))

    layout = html.Div([html.H1('Produkty',style={'text-align':'center'}),

                        html.Div([html.Div([dcc.Graph(id='pie-prod-cat',figure=fig)],style={'width':'50%'}),
                        html.Div([dcc.Dropdown(id='prod_dropdown',
                                    options=[{'label':prod_cat,'value':prod_cat} for prod_cat in df['prod_cat'].unique()],
                                    value=df['prod_cat'].unique()[0]),
                                    dcc.Graph(id='barh-prod-subcat')],style={'width':'50%'})],style={'display':'flex'}),
                                    html.Div(id='temp-out')
                        ])

    return layout

def tab3_render_tab(df):

    grouped = df[df['total_amt']>0].groupby('day')['total_amt'].sum()
    fig = go.Figure(data=[go.Pie(labels=grouped.index,values=grouped.values)],layout=go.Layout(title='Dni sprzeday'))

    layout = html.Div([html.H1('Kanay sprzeday',style={'text-align':'center'}),

                        html.Div([html.Div([dcc.Graph(id='pie-prod-cat',figure=fig)],style={'width':'50%'}),
                        html.Div([dcc.Dropdown(id='store_dropdown',
                                    options=[{'label':Store_type,'value':Store_type} for Store_type in df['Store_type'].unique()],
                                    value=df['day'].unique()[0]),
                                    dcc.Graph(id='barh-Store_type')],style={'width':'50%'})],style={'display':'flex'}),
                                    html.Div(id='temp-out')
                        ])

    return layout


if __name__ == '__main__':
    app.run_server(debug=True)

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
File ~\anaconda3\lib\site-packages\pandas\core\indexes\base.py:3802, in Index.get_loc(
    self=Index([], dtype='object', name='Gender'),
    key='F',
    method=None,
    tolerance=None
)
   3801 try:
-> 3802     return self._engine.get_loc(casted_key)
        casted_key = 'F'
        self = Index([], dtype='object', name='Gender')
   3803 except KeyError as err:

File ~\anaconda3\lib\site-packages\pandas\_libs\index.pyx:138, in pandas._libs.index.IndexEngine.get_loc()

File ~\anaconda3\lib\site-packages\pandas\_libs\index.pyx:165, in pandas._libs.index.IndexEngine.get_loc()

File pandas\_libs\hashtable_class_helper.pxi:5745, in pandas._libs.hashtable.PyObjectHashTable.get_item()

File pandas\_libs\hashtable_class_helper.pxi:5753, in pandas._libs.hashtable.PyObjectHashTable.get_item()

KeyError: 'F'

The above exception was the direct cause of the following exception:

KeyError                                  Traceback (most recent call last)
Cell In[4], line 72, in tab3_barh_Store_type(chosen_value='e-Shop')
     68 @app.callback(Output('barh-Store_type','figure'),
     69             [Input('store_dropdown','value')])
     70 def tab3_barh_Store_type(chosen_value):
---> 72     grouped = df[(df['total_amt']>0)&(df['day']==chosen_value)].pivot_table(index='Store_type',columns='Gender',values='total_amt',aggfunc='sum').assign(_sum=lambda x: x['F']+x['M']).sort_values(by='_sum').round(2)
        df =        transaction_id  cust_id  tran_date  prod_subcat_code  prod_cat_code  \
16062     40303022895   272142 2016-12-31                 1              2
16063     47557596721   273764 2016-12-31                 8              3
16064     28966519600   273899 2016-12-31                 5              3
16065     18110335043   270491 2016-12-31                 4              2
16066     35866122984   269792 2016-12-31                 1              2
...               ...      ...        ...               ...            ...
1060      69378805450   273472 2019-01-01                 1              2
1061      63635040022   268886 2019-01-01                 3              2
1062      71241456072   268863 2019-01-01                 3              5
1063      69368153122   273627 2019-01-01                 7              5
1064      96680280518   267832 2019-01-01                 1              4

       Qty  Rate      Tax  total_amt      Store_type     prod_cat  \
16062    5   537  281.925   2966.925  Flagship store     Footwear
16063   -1 -1037  108.885  -1145.885  Flagship store  Electronics
16064    1   308   32.340    340.340          e-Shop  Electronics
16065    1  1343  141.015   1484.015        TeleShop     Footwear
16066    1  1209  126.945   1335.945  Flagship store     Footwear
...    ...   ...      ...        ...             ...          ...
1060     1  1242  130.410   1372.410          e-Shop     Footwear
1061     5   652  342.300   3602.300          e-Shop     Footwear
1062     2   462   97.020   1021.020  Flagship store        Books
1063     3   311   97.965   1030.965        TeleShop        Books
1064     5  1462  767.550   8077.550          e-Shop         Bags

               prod_subcat  Unnamed: 0         DOB Gender  country_code  \
16062                Women        4604  13-10-1988      M           8.0
16063  Personal Appliances        2975  13-03-1982      M           8.0
16064            Computers        5585  07-10-1992      F           5.0
16065                 Mens        4415  01-02-1988      M           5.0
16066                Women        2410  24-11-1979      F          10.0
...                    ...         ...         ...    ...           ...
1060                 Women        3227  08-03-1983      M           4.0
1061                  Kids        5545  03-08-1992      M           1.0
1062                  Kids        2899  08-11-1981      F           3.0
1063               Fiction        3775  18-06-1985      M           8.0
1064                 Women        2376  04-10-1979      M           9.0

       country       day
16062  Denmark  Saturday
16063  Denmark  Saturday
16064    Italy  Saturday
16065    Italy  Saturday
16066  Finland  Saturday
...        ...       ...
1060     Spain   Tuesday
1061    Poland   Tuesday
1062    France   Tuesday
1063   Denmark   Tuesday
1064   Belgium   Tuesday

[23053 rows x 18 columns]
        chosen_value = 'e-Shop'
     73     #grouped = df[(df['total_amt']>0)&(df['Store_type']==chosen_value)].pivot_table(index='Store_type',columns='day',values='total_amt',aggfunc='sum').assign(_sum=lambda x: x['M']+x['T']+x['W']+x['Th']+x['F']+x['Sa']+x['Su']).sort_values(by='_sum').round(2)
     74     traces = []

File ~\anaconda3\lib\site-packages\pandas\core\frame.py:4889, in DataFrame.assign(
    self=Empty DataFrame
Columns: []
Index: [],
    **kwargs={'_sum': <function tab3_barh_Store_type.<locals>.<lambda>>}
)
   4886 data = self.copy()
   4888 for k, v in kwargs.items():
-> 4889     data[k] = com.apply_if_callable(v, data)
        data = Empty DataFrame
Columns: []
Index: []
        k = '_sum'
        v = <function tab3_barh_Store_type.<locals>.<lambda> at 0x0000024850A7C790>
        com = <module 'pandas.core.common' from 'C:\\Users\\MirekR\\anaconda3\\lib\\site-packages\\pandas\\core\\common.py'>
   4890 return data

File ~\anaconda3\lib\site-packages\pandas\core\common.py:374, in apply_if_callable(
    maybe_callable=<function tab3_barh_Store_type.<locals>.<lambda>>,
    obj=Empty DataFrame
Columns: []
Index: [],
    **kwargs={}
)
    363 """
    364 Evaluate possibly callable input using obj and kwargs if it is callable,
    365 otherwise return as it is.
   (...)
    371 **kwargs
    372 """
    373 if callable(maybe_callable):
--> 374     return maybe_callable(obj, **kwargs)
        maybe_callable = <function tab3_barh_Store_type.<locals>.<lambda> at 0x0000024850A7C790>
        obj = Empty DataFrame
Columns: []
Index: []
        kwargs = {}
    376 return maybe_callable

Cell In[4], line 72, in tab3_barh_Store_type.<locals>.<lambda>(
    x=Empty DataFrame
Columns: []
Index: []
)
     68 @app.callback(Output('barh-Store_type','figure'),
     69             [Input('store_dropdown','value')])
     70 def tab3_barh_Store_type(chosen_value):
---> 72     grouped = df[(df['total_amt']>0)&(df['day']==chosen_value)].pivot_table(index='Store_type',columns='Gender',values='total_amt',aggfunc='sum').assign(_sum=lambda x: x['F']+x['M']).sort_values(by='_sum').round(2)
        df =        transaction_id  cust_id  tran_date  prod_subcat_code  prod_cat_code  \
16062     40303022895   272142 2016-12-31                 1              2
16063     47557596721   273764 2016-12-31                 8              3
16064     28966519600   273899 2016-12-31                 5              3
16065     18110335043   270491 2016-12-31                 4              2
16066     35866122984   269792 2016-12-31                 1              2
...               ...      ...        ...               ...            ...
1060      69378805450   273472 2019-01-01                 1              2
1061      63635040022   268886 2019-01-01                 3              2
1062      71241456072   268863 2019-01-01                 3              5
1063      69368153122   273627 2019-01-01                 7              5
1064      96680280518   267832 2019-01-01                 1              4

       Qty  Rate      Tax  total_amt      Store_type     prod_cat  \
16062    5   537  281.925   2966.925  Flagship store     Footwear
16063   -1 -1037  108.885  -1145.885  Flagship store  Electronics
16064    1   308   32.340    340.340          e-Shop  Electronics
16065    1  1343  141.015   1484.015        TeleShop     Footwear
16066    1  1209  126.945   1335.945  Flagship store     Footwear
...    ...   ...      ...        ...             ...          ...
1060     1  1242  130.410   1372.410          e-Shop     Footwear
1061     5   652  342.300   3602.300          e-Shop     Footwear
1062     2   462   97.020   1021.020  Flagship store        Books
1063     3   311   97.965   1030.965        TeleShop        Books
1064     5  1462  767.550   8077.550          e-Shop         Bags

               prod_subcat  Unnamed: 0         DOB Gender  country_code  \
16062                Women        4604  13-10-1988      M           8.0
16063  Personal Appliances        2975  13-03-1982      M           8.0
16064            Computers        5585  07-10-1992      F           5.0
16065                 Mens        4415  01-02-1988      M           5.0
16066                Women        2410  24-11-1979      F          10.0
...                    ...         ...         ...    ...           ...
1060                 Women        3227  08-03-1983      M           4.0
1061                  Kids        5545  03-08-1992      M           1.0
1062                  Kids        2899  08-11-1981      F           3.0
1063               Fiction        3775  18-06-1985      M           8.0
1064                 Women        2376  04-10-1979      M           9.0

       country       day
16062  Denmark  Saturday
16063  Denmark  Saturday
16064    Italy  Saturday
16065    Italy  Saturday
16066  Finland  Saturday
...        ...       ...
1060     Spain   Tuesday
1061    Poland   Tuesday
1062    France   Tuesday
1063   Denmark   Tuesday
1064   Belgium   Tuesday

[23053 rows x 18 columns]
        x = Empty DataFrame
Columns: []
Index: []
     73     #grouped = df[(df['total_amt']>0)&(df['Store_type']==chosen_value)].pivot_table(index='Store_type',columns='day',values='total_amt',aggfunc='sum').assign(_sum=lambda x: x['M']+x['T']+x['W']+x['Th']+x['F']+x['Sa']+x['Su']).sort_values(by='_sum').round(2)
     74     traces = []

File ~\anaconda3\lib\site-packages\pandas\core\frame.py:3807, in DataFrame.__getitem__(
    self=Empty DataFrame
Columns: []
Index: [],
    key='F'
)
   3805 if self.columns.nlevels > 1:
   3806     return self._getitem_multilevel(key)
-> 3807 indexer = self.columns.get_loc(key)
        key = 'F'
        indexer = None
        self = Empty DataFrame
Columns: []
Index: []
   3808 if is_integer(indexer):
   3809     indexer = [indexer]

File ~\anaconda3\lib\site-packages\pandas\core\indexes\base.py:3804, in Index.get_loc(
    self=Index([], dtype='object', name='Gender'),
    key='F',
    method=None,
    tolerance=None
)
   3802     return self._engine.get_loc(casted_key)
   3803 except KeyError as err:
-> 3804     raise KeyError(key) from err
        key = 'F'
   3805 except TypeError:
   3806     # If we have a listlike key, _check_indexing_error will raise
   3807     #  InvalidIndexError. Otherwise we fall through and re-raise
   3808     #  the TypeError.
   3809     self._check_indexing_error(key)

KeyError: 'F'

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
File ~\anaconda3\lib\site-packages\pandas\core\indexes\base.py:3802, in Index.get_loc(
    self=Index([], dtype='object', name='Gender'),
    key='F',
    method=None,
    tolerance=None
)
   3801 try:
-> 3802     return self._engine.get_loc(casted_key)
        casted_key = 'F'
        self = Index([], dtype='object', name='Gender')
   3803 except KeyError as err:

File ~\anaconda3\lib\site-packages\pandas\_libs\index.pyx:138, in pandas._libs.index.IndexEngine.get_loc()

File ~\anaconda3\lib\site-packages\pandas\_libs\index.pyx:165, in pandas._libs.index.IndexEngine.get_loc()

File pandas\_libs\hashtable_class_helper.pxi:5745, in pandas._libs.hashtable.PyObjectHashTable.get_item()

File pandas\_libs\hashtable_class_helper.pxi:5753, in pandas._libs.hashtable.PyObjectHashTable.get_item()

KeyError: 'F'

The above exception was the direct cause of the following exception:

KeyError                                  Traceback (most recent call last)
Cell In[4], line 72, in tab3_barh_Store_type(chosen_value='TeleShop')
     68 @app.callback(Output('barh-Store_type','figure'),
     69             [Input('store_dropdown','value')])
     70 def tab3_barh_Store_type(chosen_value):
---> 72     grouped = df[(df['total_amt']>0)&(df['day']==chosen_value)].pivot_table(index='Store_type',columns='Gender',values='total_amt',aggfunc='sum').assign(_sum=lambda x: x['F']+x['M']).sort_values(by='_sum').round(2)
        df =        transaction_id  cust_id  tran_date  prod_subcat_code  prod_cat_code  \
16062     40303022895   272142 2016-12-31                 1              2
16063     47557596721   273764 2016-12-31                 8              3
16064     28966519600   273899 2016-12-31                 5              3
16065     18110335043   270491 2016-12-31                 4              2
16066     35866122984   269792 2016-12-31                 1              2
...               ...      ...        ...               ...            ...
1060      69378805450   273472 2019-01-01                 1              2
1061      63635040022   268886 2019-01-01                 3              2
1062      71241456072   268863 2019-01-01                 3              5
1063      69368153122   273627 2019-01-01                 7              5
1064      96680280518   267832 2019-01-01                 1              4

       Qty  Rate      Tax  total_amt      Store_type     prod_cat  \
16062    5   537  281.925   2966.925  Flagship store     Footwear
16063   -1 -1037  108.885  -1145.885  Flagship store  Electronics
16064    1   308   32.340    340.340          e-Shop  Electronics
16065    1  1343  141.015   1484.015        TeleShop     Footwear
16066    1  1209  126.945   1335.945  Flagship store     Footwear
...    ...   ...      ...        ...             ...          ...
1060     1  1242  130.410   1372.410          e-Shop     Footwear
1061     5   652  342.300   3602.300          e-Shop     Footwear
1062     2   462   97.020   1021.020  Flagship store        Books
1063     3   311   97.965   1030.965        TeleShop        Books
1064     5  1462  767.550   8077.550          e-Shop         Bags

               prod_subcat  Unnamed: 0         DOB Gender  country_code  \
16062                Women        4604  13-10-1988      M           8.0
16063  Personal Appliances        2975  13-03-1982      M           8.0
16064            Computers        5585  07-10-1992      F           5.0
16065                 Mens        4415  01-02-1988      M           5.0
16066                Women        2410  24-11-1979      F          10.0
...                    ...         ...         ...    ...           ...
1060                 Women        3227  08-03-1983      M           4.0
1061                  Kids        5545  03-08-1992      M           1.0
1062                  Kids        2899  08-11-1981      F           3.0
1063               Fiction        3775  18-06-1985      M           8.0
1064                 Women        2376  04-10-1979      M           9.0

       country       day
16062  Denmark  Saturday
16063  Denmark  Saturday
16064    Italy  Saturday
16065    Italy  Saturday
16066  Finland  Saturday
...        ...       ...
1060     Spain   Tuesday
1061    Poland   Tuesday
1062    France   Tuesday
1063   Denmark   Tuesday
1064   Belgium   Tuesday

[23053 rows x 18 columns]
        chosen_value = 'TeleShop'
     73     #grouped = df[(df['total_amt']>0)&(df['Store_type']==chosen_value)].pivot_table(index='Store_type',columns='day',values='total_amt',aggfunc='sum').assign(_sum=lambda x: x['M']+x['T']+x['W']+x['Th']+x['F']+x['Sa']+x['Su']).sort_values(by='_sum').round(2)
     74     traces = []

File ~\anaconda3\lib\site-packages\pandas\core\frame.py:4889, in DataFrame.assign(
    self=Empty DataFrame
Columns: []
Index: [],
    **kwargs={'_sum': <function tab3_barh_Store_type.<locals>.<lambda>>}
)
   4886 data = self.copy()
   4888 for k, v in kwargs.items():
-> 4889     data[k] = com.apply_if_callable(v, data)
        data = Empty DataFrame
Columns: []
Index: []
        k = '_sum'
        v = <function tab3_barh_Store_type.<locals>.<lambda> at 0x0000024854240CA0>
        com = <module 'pandas.core.common' from 'C:\\Users\\MirekR\\anaconda3\\lib\\site-packages\\pandas\\core\\common.py'>
   4890 return data

File ~\anaconda3\lib\site-packages\pandas\core\common.py:374, in apply_if_callable(
    maybe_callable=<function tab3_barh_Store_type.<locals>.<lambda>>,
    obj=Empty DataFrame
Columns: []
Index: [],
    **kwargs={}
)
    363 """
    364 Evaluate possibly callable input using obj and kwargs if it is callable,
    365 otherwise return as it is.
   (...)
    371 **kwargs
    372 """
    373 if callable(maybe_callable):
--> 374     return maybe_callable(obj, **kwargs)
        maybe_callable = <function tab3_barh_Store_type.<locals>.<lambda> at 0x0000024854240CA0>
        obj = Empty DataFrame
Columns: []
Index: []
        kwargs = {}
    376 return maybe_callable

Cell In[4], line 72, in tab3_barh_Store_type.<locals>.<lambda>(
    x=Empty DataFrame
Columns: []
Index: []
)
     68 @app.callback(Output('barh-Store_type','figure'),
     69             [Input('store_dropdown','value')])
     70 def tab3_barh_Store_type(chosen_value):
---> 72     grouped = df[(df['total_amt']>0)&(df['day']==chosen_value)].pivot_table(index='Store_type',columns='Gender',values='total_amt',aggfunc='sum').assign(_sum=lambda x: x['F']+x['M']).sort_values(by='_sum').round(2)
        df =        transaction_id  cust_id  tran_date  prod_subcat_code  prod_cat_code  \
16062     40303022895   272142 2016-12-31                 1              2
16063     47557596721   273764 2016-12-31                 8              3
16064     28966519600   273899 2016-12-31                 5              3
16065     18110335043   270491 2016-12-31                 4              2
16066     35866122984   269792 2016-12-31                 1              2
...               ...      ...        ...               ...            ...
1060      69378805450   273472 2019-01-01                 1              2
1061      63635040022   268886 2019-01-01                 3              2
1062      71241456072   268863 2019-01-01                 3              5
1063      69368153122   273627 2019-01-01                 7              5
1064      96680280518   267832 2019-01-01                 1              4

       Qty  Rate      Tax  total_amt      Store_type     prod_cat  \
16062    5   537  281.925   2966.925  Flagship store     Footwear
16063   -1 -1037  108.885  -1145.885  Flagship store  Electronics
16064    1   308   32.340    340.340          e-Shop  Electronics
16065    1  1343  141.015   1484.015        TeleShop     Footwear
16066    1  1209  126.945   1335.945  Flagship store     Footwear
...    ...   ...      ...        ...             ...          ...
1060     1  1242  130.410   1372.410          e-Shop     Footwear
1061     5   652  342.300   3602.300          e-Shop     Footwear
1062     2   462   97.020   1021.020  Flagship store        Books
1063     3   311   97.965   1030.965        TeleShop        Books
1064     5  1462  767.550   8077.550          e-Shop         Bags

               prod_subcat  Unnamed: 0         DOB Gender  country_code  \
16062                Women        4604  13-10-1988      M           8.0
16063  Personal Appliances        2975  13-03-1982      M           8.0
16064            Computers        5585  07-10-1992      F           5.0
16065                 Mens        4415  01-02-1988      M           5.0
16066                Women        2410  24-11-1979      F          10.0
...                    ...         ...         ...    ...           ...
1060                 Women        3227  08-03-1983      M           4.0
1061                  Kids        5545  03-08-1992      M           1.0
1062                  Kids        2899  08-11-1981      F           3.0
1063               Fiction        3775  18-06-1985      M           8.0